#!/bin/sh

_dotenv() {
    awk -F= ' \
		BEGIN { inMultiline=0; quoteType="" } \
		/^[[:space:]]*#/ || /^[[:space:]]*$/ { print; next } \
		inMultiline && $0 ~ quoteType "$" { print; inMultiline=0; next } \
		inMultiline { print; next } \
		($2 ~ /^"[^"]*$/) || ($2 ~ /^'\''[^'\'']*$/) { \
			print "export " $0; \
			inMultiline=1; \
			quoteType = substr($2, 1, 1); \
			next \
		} \
		{ print "export " $0 }' $1
}
use nix
if [ ! -f .env ] || [ .env -ot default.env ]; then
    cp default.env .env
fi
eval "$(_dotenv .env)"
if [ "$KUBE_CONTEXT" != "" ]; then
    $(kubectx -h >/dev/null 2>/dev/null && echo kubectx || echo kubectl ctx) \
        $KUBE_CONTEXT 2>/dev/null || true
fi
