dotenv() {
    _DOTENV=.env
    _DOTENV_DEFAULT=default.env
    _DOTENV_SOURCE=.mkpm/.tmp/env
    ([ ! -f $_DOTENV ] || [ $_DOTENV -ot $_DOTENV_DEFAULT ]) && cp $_DOTENV_DEFAULT $_DOTENV || true
    if ([ ! -f $_DOTENV_SOURCE ] || [ $_DOTENV_SOURCE -ot $_DOTENV ]); then
        mkdir -p .mkpm/.tmp
        cat $_DOTENV | sed 's|^#.*||g' | sed '/^$/d' | sed 's|^|export |' > $_DOTENV_SOURCE
    fi
    echo $_DOTENV_SOURCE
}

. $(dotenv)

use nix

if [ "$AWS_PROFILE" = "" ]; then
    export AWS_PROFILE=default
fi
if [ "$KUBE_CONTEXT" != "" ]; then
    $(kubectx -h >/dev/null 2>/dev/null && echo kubectx || echo kubectl ctx) \
        $KUBE_CONTEXT 2>/dev/null || true
fi
