# terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*_override.tf
*_override.tf.json
crash.log
override.tf
override.tf.json

# app
.mkpm/
/.env
/mwc-rancher.cattle.io.yaml
/vwc-rancher.cattle.io.yaml
/id_*.pub
tfplan.cache
tfplan.json

/hi
/tls.*
/ca.*
/*.pub
