# terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*_override.tf
*_override.tf.json
crash.log
override.tf
override.tf.json

# app
.mkpm/
/.env
/auth
/id_*.pub
/mwc-rancher.cattle.io.yaml
/vwc-rancher.cattle.io.yaml
tfplan.cache
tfplan.json
