# terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*_override.tf
*_override.tf.json
crash.log
override.tf
override.tf.json

# app
/.env
/auth
/id_*.pub
/mwc-rancher.cattle.io.yaml
/vwc-rancher.cattle.io.yaml
tfplan.cache
tfplan.json

# mkpm
.mkpm/*
**/.mkpm/*
!/.mkpm/.cache.tar.gz
!/.mkpm/.bootstrap.mk
